USE [ITA6]
GO
/****** Object:  UserDefinedTableType [dbo].[ImportDetail]    Script Date: 7/1/2025 5:57:23 PM ******/
CREATE TYPE [dbo].[ImportDetail] AS TABLE(
	[ProCode] [varchar](13) NULL,
	[ProName] [varchar](100) NULL,
	[Qty] [smallint] NULL,
	[Price] [money] NULL,
	[Amount] [money] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportMaster]    Script Date: 7/1/2025 5:57:23 PM ******/
CREATE TYPE [dbo].[ImportMaster] AS TABLE(
	[ImpDate] [date] NULL,
	[staffID] [tinyint] NULL,
	[FullName] [nvarchar](100) NULL,
	[supID] [int] NULL,
	[Supplier] [nvarchar](100) NULL,
	[Total] [money] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[OrderDetail]    Script Date: 7/1/2025 5:57:23 PM ******/
CREATE TYPE [dbo].[OrderDetail] AS TABLE(
	[ProCode] [varchar](13) NULL,
	[ProName] [varchar](100) NULL,
	[Qty] [smallint] NULL,
	[Price] [money] NULL,
	[Amount] [money] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[OrderMaster]    Script Date: 7/1/2025 5:57:23 PM ******/
CREATE TYPE [dbo].[OrderMaster] AS TABLE(
	[OrdDate] [smalldatetime] NULL,
	[staffID] [tinyint] NULL,
	[FullName] [nvarchar](100) NULL,
	[cusID] [int] NULL,
	[cusName] [nvarchar](100) NULL,
	[Total] [money] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fnCountPro]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnCountPro]()
RETURNS INT
AS
BEGIN
    DECLARE @C INT;
    
    SELECT @C = COUNT(ProCode) FROM tbProducts;
    
    RETURN @C;
END;

GO
/****** Object:  Table [dbo].[tbCustomers]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbCustomers](
	[cusID] [int] IDENTITY(1,1) NOT NULL,
	[CusName] [varchar](100) NOT NULL,
	[CusContact] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[cusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbImportdetail]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbImportdetail](
	[ImpCode] [int] NOT NULL,
	[ProCode] [varchar](13) NOT NULL,
	[ProName] [varchar](100) NOT NULL,
	[Qty] [smallint] NOT NULL,
	[Price] [money] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK__tbImport__2CEC491CF89C4F83] PRIMARY KEY CLUSTERED 
(
	[ImpCode] ASC,
	[ProCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbImports]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbImports](
	[ImpCode] [int] IDENTITY(1,1) NOT NULL,
	[ImpDate] [date] NOT NULL,
	[staffID] [tinyint] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[supID] [int] NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[Total] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImpCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbOrderDetail]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbOrderDetail](
	[OrdCode] [int] NOT NULL,
	[ProCode] [varchar](13) NOT NULL,
	[ProName] [varchar](100) NOT NULL,
	[Qty] [smallint] NOT NULL,
	[Price] [money] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK__tbOrderD__BEE84551523FCC7A] PRIMARY KEY CLUSTERED 
(
	[OrdCode] ASC,
	[ProCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbOrders]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbOrders](
	[OrdCode] [int] IDENTITY(1,1) NOT NULL,
	[OrdDate] [smalldatetime] NOT NULL,
	[staffID] [tinyint] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[cusID] [int] NOT NULL,
	[CusName] [varchar](100) NOT NULL,
	[Total] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbPayments]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPayments](
	[PayCode] [int] IDENTITY(1,1) NOT NULL,
	[PayDate] [smalldatetime] NOT NULL,
	[staffID] [tinyint] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[OrdCode] [int] NOT NULL,
	[Deposit] [money] NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK__tbPaymen__914DABCE951DFB5F] PRIMARY KEY CLUSTERED 
(
	[PayCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbProducts]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbProducts](
	[ProCode] [varchar](13) NOT NULL,
	[ProName] [varchar](100) NOT NULL,
	[Qty] [smallint] NOT NULL,
	[UPIS] [money] NOT NULL,
	[SUP] [money] NOT NULL,
 CONSTRAINT [PK__tbProduc__B72517E91DCCF92F] PRIMARY KEY CLUSTERED 
(
	[ProCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbStaffs]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbStaffs](
	[staffID] [tinyint] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Gen] [char](1) NOT NULL,
	[Dob] [date] NOT NULL,
	[Position] [varchar](50) NOT NULL,
	[Salary] [money] NOT NULL,
	[Stopwork] [bit] NULL,
	[Photo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbSuppliers]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbSuppliers](
	[supID] [int] IDENTITY(1,1) NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[SupAdd] [nvarchar](100) NOT NULL,
	[SupCon] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[supID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllCus]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fnGetAllCus]()
RETURNS TABLE
AS
RETURN
(
    SELECT cusID,CusName
    FROM dbo.tbCustomers
);

GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllStaff]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllStaff]()
RETURNS TABLE
AS
RETURN
(
    SELECT StaffID, FullName
    FROM dbo.tbStaffs
);

GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAllSupplier]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetAllSupplier]()
RETURNS TABLE
AS
RETURN
(
    SELECT supID, Supplier
    FROM dbo.tbSuppliers
);

GO
/****** Object:  UserDefinedFunction [dbo].[fnGetOrderCode]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetOrderCode]()
RETURNS TABLE
AS
RETURN (
    SELECT OrdCode, Amount, Sum(Deposit) as Deposit
    FROM tbPayments
    GROUP BY OrdCode, Amount
    HAVING Sum(Deposit) < Amount OR
           Sum(Deposit) IS NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetProductByID]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnGetProductByID](@pc INT)
RETURNS TABLE
AS
RETURN
(
    SELECT ProName
    FROM tbProducts  
    WHERE ProCode = @pc
);

GO
SET IDENTITY_INSERT [dbo].[tbCustomers] ON 

INSERT [dbo].[tbCustomers] ([cusID], [CusName], [CusContact]) VALUES (11, N'Sok Lina', N'0234859548')
INSERT [dbo].[tbCustomers] ([cusID], [CusName], [CusContact]) VALUES (29, N'Vann lida', N'02374848')
INSERT [dbo].[tbCustomers] ([cusID], [CusName], [CusContact]) VALUES (30, N'Sok Liza', N'0987377373')
SET IDENTITY_INSERT [dbo].[tbCustomers] OFF
SET IDENTITY_INSERT [dbo].[tbImports] ON 

INSERT [dbo].[tbImports] ([ImpCode], [ImpDate], [staffID], [FullName], [supID], [Supplier], [Total]) VALUES (24, CAST(N'2025-06-24' AS Date), 3, N'Michael Brown', 19, N'Hut Theara', 110.0000)
INSERT [dbo].[tbImports] ([ImpCode], [ImpDate], [staffID], [FullName], [supID], [Supplier], [Total]) VALUES (25, CAST(N'2025-06-24' AS Date), 3, N'Michael Brown', 19, N'Hut Theara', 110.0000)
INSERT [dbo].[tbImports] ([ImpCode], [ImpDate], [staffID], [FullName], [supID], [Supplier], [Total]) VALUES (26, CAST(N'2025-06-24' AS Date), 2, N'Sarah Johnson', 19, N'Hut Theara', 2.0000)
SET IDENTITY_INSERT [dbo].[tbImports] OFF
INSERT [dbo].[tbOrderDetail] ([OrdCode], [ProCode], [ProName], [Qty], [Price], [Amount]) VALUES (33, N'5', N'Verk', 10, 10.0000, 10.0000)
SET IDENTITY_INSERT [dbo].[tbOrders] ON 

INSERT [dbo].[tbOrders] ([OrdCode], [OrdDate], [staffID], [FullName], [cusID], [CusName], [Total]) VALUES (33, CAST(N'2025-06-30 19:33:00' AS SmallDateTime), 4, N'Panno', 11, N'Ly Vann', 75.0000)
INSERT [dbo].[tbOrders] ([OrdCode], [OrdDate], [staffID], [FullName], [cusID], [CusName], [Total]) VALUES (34, CAST(N'2025-06-30 19:51:00' AS SmallDateTime), 1, N'Sok Lyza', 11, N'Ly Vann', 132.0000)
INSERT [dbo].[tbOrders] ([OrdCode], [OrdDate], [staffID], [FullName], [cusID], [CusName], [Total]) VALUES (35, CAST(N'2025-07-02 23:56:00' AS SmallDateTime), 3, N'Vann Veasna', 11, N'Ly Vann', 280.0000)
SET IDENTITY_INSERT [dbo].[tbOrders] OFF
SET IDENTITY_INSERT [dbo].[tbPayments] ON 

INSERT [dbo].[tbPayments] ([PayCode], [PayDate], [staffID], [FullName], [OrdCode], [Deposit], [Amount]) VALUES (20, CAST(N'2025-07-01 00:33:00' AS SmallDateTime), 2, N'Sarah Johnson', 37, 100.0000, 1100.0000)
INSERT [dbo].[tbPayments] ([PayCode], [PayDate], [staffID], [FullName], [OrdCode], [Deposit], [Amount]) VALUES (21, CAST(N'2025-07-10 00:48:00' AS SmallDateTime), 3, N'Chan Veasna', 38, NULL, 500.0000)
SET IDENTITY_INSERT [dbo].[tbPayments] OFF
INSERT [dbo].[tbProducts] ([ProCode], [ProName], [Qty], [UPIS], [SUP]) VALUES (N'5', N'CC', 15, 30.0000, 50.0000)
INSERT [dbo].[tbProducts] ([ProCode], [ProName], [Qty], [UPIS], [SUP]) VALUES (N'6', N'AA', 10, 5.0000, 10.0000)
INSERT [dbo].[tbProducts] ([ProCode], [ProName], [Qty], [UPIS], [SUP]) VALUES (N'7', N'BB', 15, 10.0000, 15.0000)
INSERT [dbo].[tbStaffs] ([staffID], [FullName], [Gen], [Dob], [Position], [Salary], [Stopwork], [Photo]) VALUES (2, N'Sarah Johnson', N'F', CAST(N'1988-09-20' AS Date), N'Accountant', 5500.0000, 0, NULL)
SET IDENTITY_INSERT [dbo].[tbSuppliers] ON 

INSERT [dbo].[tbSuppliers] ([supID], [Supplier], [SupAdd], [SupCon]) VALUES (19, N'Sun fin', N'pp', N'0234758848')
INSERT [dbo].[tbSuppliers] ([supID], [Supplier], [SupAdd], [SupCon]) VALUES (22, N'Chan Veasna', N'pp', N'0124674784')
INSERT [dbo].[tbSuppliers] ([supID], [Supplier], [SupAdd], [SupCon]) VALUES (28, N'Leng Branha', N'pvh', N'090728372')
SET IDENTITY_INSERT [dbo].[tbSuppliers] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbCustom__6FEDD00919332704]    Script Date: 7/1/2025 5:57:23 PM ******/
ALTER TABLE [dbo].[tbCustomers] ADD UNIQUE NONCLUSTERED 
(
	[CusContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbSuppli__F7D0FE1F65016530]    Script Date: 7/1/2025 5:57:23 PM ******/
ALTER TABLE [dbo].[tbSuppliers] ADD UNIQUE NONCLUSTERED 
(
	[SupCon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tbSuppli__FAA9B1F9482B5CF8]    Script Date: 7/1/2025 5:57:23 PM ******/
ALTER TABLE [dbo].[tbSuppliers] ADD UNIQUE NONCLUSTERED 
(
	[Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbImportdetail]  WITH CHECK ADD  CONSTRAINT [FK__tbImportd__ImpCo__267ABA7A] FOREIGN KEY([ImpCode])
REFERENCES [dbo].[tbImports] ([ImpCode])
GO
ALTER TABLE [dbo].[tbImportdetail] CHECK CONSTRAINT [FK__tbImportd__ImpCo__267ABA7A]
GO
ALTER TABLE [dbo].[tbImportdetail]  WITH CHECK ADD  CONSTRAINT [FK__tbImportd__ProCo__276EDEB3] FOREIGN KEY([ProCode])
REFERENCES [dbo].[tbProducts] ([ProCode])
GO
ALTER TABLE [dbo].[tbImportdetail] CHECK CONSTRAINT [FK__tbImportd__ProCo__276EDEB3]
GO
ALTER TABLE [dbo].[tbImports]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[tbStaffs] ([staffID])
GO
ALTER TABLE [dbo].[tbImports]  WITH CHECK ADD FOREIGN KEY([supID])
REFERENCES [dbo].[tbSuppliers] ([supID])
GO
ALTER TABLE [dbo].[tbOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tbOrderDe__OrdCo__2A4B4B5E] FOREIGN KEY([OrdCode])
REFERENCES [dbo].[tbOrders] ([OrdCode])
GO
ALTER TABLE [dbo].[tbOrderDetail] CHECK CONSTRAINT [FK__tbOrderDe__OrdCo__2A4B4B5E]
GO
ALTER TABLE [dbo].[tbOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tbOrderDe__ProCo__2B3F6F97] FOREIGN KEY([ProCode])
REFERENCES [dbo].[tbProducts] ([ProCode])
GO
ALTER TABLE [dbo].[tbOrderDetail] CHECK CONSTRAINT [FK__tbOrderDe__ProCo__2B3F6F97]
GO
ALTER TABLE [dbo].[tbOrders]  WITH CHECK ADD FOREIGN KEY([cusID])
REFERENCES [dbo].[tbCustomers] ([cusID])
GO
ALTER TABLE [dbo].[tbOrders]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[tbStaffs] ([staffID])
GO
ALTER TABLE [dbo].[tbPayments]  WITH CHECK ADD  CONSTRAINT [FK__tbPayment__OrdCo__239E4DCF] FOREIGN KEY([OrdCode])
REFERENCES [dbo].[tbOrders] ([OrdCode])
GO
ALTER TABLE [dbo].[tbPayments] CHECK CONSTRAINT [FK__tbPayment__OrdCo__239E4DCF]
GO
ALTER TABLE [dbo].[tbPayments]  WITH CHECK ADD  CONSTRAINT [FK__tbPayment__staff__22AA2996] FOREIGN KEY([staffID])
REFERENCES [dbo].[tbStaffs] ([staffID])
GO
ALTER TABLE [dbo].[tbPayments] CHECK CONSTRAINT [FK__tbPayment__staff__22AA2996]
GO
ALTER TABLE [dbo].[tbPayments]  WITH CHECK ADD  CONSTRAINT [FK_tbPayments_OrdCode] FOREIGN KEY([OrdCode])
REFERENCES [dbo].[tbOrders] ([OrdCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbPayments] CHECK CONSTRAINT [FK_tbPayments_OrdCode]
GO
ALTER TABLE [dbo].[tbPayments]  WITH CHECK ADD  CONSTRAINT [FK_tbPayments_staffID] FOREIGN KEY([staffID])
REFERENCES [dbo].[tbStaffs] ([staffID])
GO
ALTER TABLE [dbo].[tbPayments] CHECK CONSTRAINT [FK_tbPayments_staffID]
GO
/****** Object:  StoredProcedure [dbo].[spAddSupplier]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spAddSupplier]
   
    @Supplier NVARCHAR(100),
    @SupAdd NVARCHAR(200),
    @SupCon NVARCHAR(50)
AS
BEGIN
    INSERT INTO tbSuppliers (Supplier, SupAdd, SupCon)
    VALUES ( @Supplier, @SupAdd, @SupCon);
END;

GO
/****** Object:  StoredProcedure [dbo].[spDeleteCustomer]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to delete a customer by ID
CREATE PROCEDURE [dbo].[spDeleteCustomer]
    @cusID INT
AS
BEGIN
    DELETE FROM [dbo].[tbCustomers] WHERE cusID = @cusID;
END;

GO
/****** Object:  StoredProcedure [dbo].[spDeleteProduct]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeleteProduct]
    @ProCode VARCHAR(10)
AS
BEGIN
    DELETE FROM tbProducts
    WHERE ProCode = @ProCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[spDeleteStaff]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeleteStaff] 
    @id TINYINT
AS
BEGIN
    DELETE FROM tbStaffs 
    WHERE staffID = @id
END

GO
/****** Object:  StoredProcedure [dbo].[spDeleteSupplier]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteSupplier]
    @supID INT
AS
BEGIN
    DELETE FROM tbSuppliers WHERE supID = @supID;
END;

GO
/****** Object:  StoredProcedure [dbo].[spGetAllCustomers]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get all customers
CREATE PROCEDURE [dbo].[spGetAllCustomers]
AS
BEGIN
    SELECT cusID, CusName, CusContact FROM [dbo].[tbCustomers];
END;

GO
/****** Object:  StoredProcedure [dbo].[spGetAllProducts]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get all customers
CREATE PROCEDURE [dbo].[spGetAllProducts]
AS
BEGIN
    SELECT ProCode,ProName, Qty,UPIS,SUP FROM tbProducts;
END;

GO
/****** Object:  StoredProcedure [dbo].[spGetAllStaff]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAllStaff] AS
SELECT [staffID]
      ,[FullName]
      ,[Gen]
      ,[Dob]
      ,[Position]
      ,[Salary]
      ,[Stopwork]
      ,[Photo]
  FROM [dbo].[tbStaffs]
GO
/****** Object:  StoredProcedure [dbo].[spGetAllSupplier]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get all customers
CREATE PROCEDURE [dbo].[spGetAllSupplier]
AS
BEGIN
    SELECT supID, Supplier, SupAdd,SupCon FROM tbSuppliers;
END;

GO
/****** Object:  StoredProcedure [dbo].[spGetNST]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetNST]
    @N INT OUTPUT,       -- Number of products
    @S INT OUTPUT,       -- Total quantity (Qty * UPIS)
    @T MONEY OUTPUT      -- Total value (Qty * SUP)
AS
BEGIN
    -- Set output values from tbProducts
    SELECT 
        @N = COUNT(ProCode),
        @S = SUM(Qty),  -- Ensuring it fits INT
        @T = SUM(Qty * SUP)  -- Ensuring it fits MONEY
    FROM tbProducts;
END

GO
/****** Object:  StoredProcedure [dbo].[spGetPayment]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

     CREATE PROCEDURE [dbo].[spGetPayment] @oc INT
     AS
     BEGIN
         BEGIN TRY
             SELECT Amount, Deposit, Amount - Deposit as Remain
             FROM dbo.tbPayments
             WHERE OrdCode = @oc
         END TRY
         BEGIN CATCH
             THROW;
         END CATCH
     END
GO
/****** Object:  StoredProcedure [dbo].[spGetProductByID]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetProductByID]
    @pc INT
AS
BEGIN
    SELECT ProName,SUP FROM dbo.tbProducts WHERE ProCode = @pc
END

GO
/****** Object:  StoredProcedure [dbo].[spInsertCustomer]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedure to insert a new customer
CREATE PROCEDURE [dbo].[spInsertCustomer]
    @CusName NVARCHAR(100),
    @CusContact NVARCHAR(100)
AS
BEGIN
    INSERT INTO [dbo].[tbCustomers] (CusName, CusContact)
    VALUES (@CusName, @CusContact);
END;

GO
/****** Object:  StoredProcedure [dbo].[spInsertProduct]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertProduct]
    @ProCode VARCHAR(10),
    @ProName VARCHAR(50),
    @Qty INT,
    @UPIS DECIMAL(10, 2),
    @SUP DECIMAL(10, 2)
AS
BEGIN
    INSERT INTO tbProducts(ProCode, ProName, Qty, UPIS, SUP)
    VALUES (@ProCode, @ProName, @Qty, @UPIS, @SUP);
END;
GO
/****** Object:  StoredProcedure [dbo].[spInsertStaff]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsertStaff]
    @id TINYINT, 
    @fn NVARCHAR(50),
    @g CHAR(1),
    @db DATE,
    @po VARCHAR(50),
    @s MONEY,
    @sw BIT,
    @ph VARBINARY(MAX)
AS
BEGIN
    INSERT INTO tbStaffs (staffID, FullName, Gen, Dob, Position, Salary, Stopwork, Photo)
    VALUES (@id, @fn, @g, @db, @po, @s, @sw, @ph);
END;

GO
/****** Object:  StoredProcedure [dbo].[spPayment]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROC [dbo].[spPayment] 
    @PD SMALLDATETIME, @SI INT, @FN NVARCHAR(100), @IC INT, 
    @Dep MONEY, @A MONEY
AS
BEGIN
    DECLARE @d MONEY
    SELECT @d = Deposit FROM tbPayments WHERE OrdCode = @IC

    IF (@d IS NULL)
    BEGIN
        UPDATE tbPayments SET Deposit = @Dep WHERE ordCode = @IC
    END
    ELSE
    BEGIN
        INSERT INTO tbPayments (PayDate, staffID, fullname, ordCode, Deposit, Amount)
        VALUES (@PD, @SI, @FN, @IC, @Dep, @A)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spSetImport]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSetImport] @IM AS ImportMaster READONLY,
                                    @ID AS ImportDetail READONLY
AS 
BEGIN
INSERT INTO tbImports(ImpDate,staffID,FullName,supID,Supplier,Total)

SELECT ImpDate,staffID,FullName,supID,Supplier,Total FROM @IM
END

GO
/****** Object:  StoredProcedure [dbo].[spSetOrder]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSetOrder]
    @OM AS OrderMaster READONLY,
    @OD AS OrderDetail READONLY
AS
BEGIN
    -- Insert into tbOrders from table variable @OM
    INSERT INTO tbOrders (OrdDate, staffID, FullName, cusID, cusName, Total)
    SELECT * FROM @OM;

    -- Declare and assign values from @OM
    DECLARE @pd SMALLDATETIME,  
            @sid INT,  
            @fn NVARCHAR(100),  
            @total MONEY;

    SELECT @pd = OrdDate,  
           @sid = staffID,  
           @fn = FullName,  
           @total = Total  
    FROM @OM;

    -- Get the latest Order Code
    DECLARE @oc INT;
    SELECT @oc = MAX(OrdCode) FROM tbOrders;

    -- Insert into tbPayments using retrieved and declared values
    INSERT INTO tbPayments (PayDate, staffID, FullName, OrdCode, Deposit, Amount)
    VALUES (@pd, @sid, @fn, @oc, NULL, @total);

    -- Declare and open cursor
    DECLARE csOrder CURSOR SCROLL DYNAMIC 
    FOR SELECT ProCode, ProName, Qty, Price, Amount FROM @OD;

    OPEN csOrder;
	 -- Declare variables for cursor (renamed row Amount to avoid conflict)
    DECLARE @pc VARCHAR(13), 
            @pn NVARCHAR(100), 
            @q SMALLINT, 
            @p MONEY, 
            @amtRow MONEY;

    FETCH NEXT FROM csOrder INTO @pc, @pn, @q, @p, @amtRow;
    WHILE (@@FETCH_STATUS = 0)
    BEGIN
        -- Update product quantity
        UPDATE tbProducts
        SET Qty = Qty - @q
        WHERE ProCode = @pc;

        -- Insert into tbOrderDetail
        INSERT INTO tbOrderDetail
        VALUES (@oc, @pc, @pn, @q, @p, @amtRow);

        FETCH NEXT FROM csOrder INTO @pc, @pn, @q, @p, @amtRow;
    END

    -- Clean up cursor
    CLOSE csOrder;
    DEALLOCATE csOrder;
END

GO
/****** Object:  StoredProcedure [dbo].[spUpdateCustomer]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateCustomer]
    @CusID INT,
    @CusName NVARCHAR(100),
    @CusContact NVARCHAR(100)
AS
BEGIN
    UPDATE tbCustomers
    SET CusName = @CusName, CusContact = @CusContact
    WHERE cusID = @CusID;
END

GO
/****** Object:  StoredProcedure [dbo].[spUpdateProduct]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateProduct]
    @ProCode VARCHAR(10),
    @ProName VARCHAR(50),
    @Qty INT,
    @UPIS DECIMAL(10, 2),
    @SUP DECIMAL(10, 2)
AS
BEGIN
    UPDATE tbProducts
    SET ProName = @ProName,
        Qty = @Qty,
        UPIS = @UPIS,
        SUP = @SUP
    WHERE ProCode = @ProCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[spUpdateStaff]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateStaff]
    @id TINYINT,
    @fn NVARCHAR(50),
    @g CHAR(1),
    @db DATE,
    @po VARCHAR(50),
    @s MONEY,
    @sw BIT,
    @ph VARBINARY(MAX)
AS
BEGIN
    UPDATE tbStaffs
SET 
    FullName = @fn,
    Gen = @g,
    Dob = @db,
    Position = @po,
    Salary = @s,
    Stopwork = @sw,
    Photo = @ph
WHERE 
    staffID = @id;

END


GO
/****** Object:  StoredProcedure [dbo].[spUpdateSupplier]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUpdateSupplier]
    @supID INT,
    @Supplier NVARCHAR(100),
    @SupAdd NVARCHAR(200),
    @SupCon NVARCHAR(50)
AS
BEGIN
    UPDATE tbSuppliers
    SET Supplier = @Supplier,
        SupAdd = @SupAdd,
        SupCon = @SupCon
    WHERE supID = @supID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-2f401339-31c9-4813-8ea6-a368889f8016]    Script Date: 7/1/2025 5:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-2f401339-31c9-4813-8ea6-a368889f8016] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-2f401339-31c9-4813-8ea6-a368889f8016]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-2f401339-31c9-4813-8ea6-a368889f8016] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-2f401339-31c9-4813-8ea6-a368889f8016') > 0)   DROP SERVICE [SqlQueryNotificationService-2f401339-31c9-4813-8ea6-a368889f8016]; if (OBJECT_ID('SqlQueryNotificationService-2f401339-31c9-4813-8ea6-a368889f8016', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-2f401339-31c9-4813-8ea6-a368889f8016]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-2f401339-31c9-4813-8ea6-a368889f8016]; END COMMIT TRANSACTION; END
GO
